<security-domain name="password" cache-type="default">
    <authentication>
    <login-module code="org.picketbox.datasource.security.SecureIdentityLoginModule" flag="required"> 
        <module-option name="username" value="uidbs01h"/> 
        <module-option name="password" value="{{ key "pwd/ibanking/enc_pwd/uidbs01h" }}"/> 
    </login-module> 
    </authentication>
</security-domain>

<security-domain name="db2-password" cache-type="default">
    <authentication>
    <login-module code="org.picketbox.datasource.security.SecureIdentityLoginModule" flag="required"> 
        <module-option name="username" value="uidbs02h"/> 
        <module-option name="password" value="{{ key "pwd/ibanking/enc_pwd/uidbs02h" }}"/> 
    </login-module> 
    </authentication>
</security-domain>

<security-domain name="db3-password" cache-type="default">
    <authentication>
    <login-module code="org.picketbox.datasource.security.SecureIdentityLoginModule" flag="required"> 
        <module-option name="username" value="uidbs03h"/> 
        <module-option name="password" value="{{ key "pwd/ibanking/enc_pwd/uidbs03h"}}"/> 
    </login-module> 
    </authentication>
</security-domain>